/*------------------------------*/
/*-------basic setup------------*/
/*------------------------------*/

*{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
}

html{
    background-color: #fff;
    color: #555;
    font-family: 'Montserrat', 'Arial', sans-serif; 
    font-weight: 300; 
    font-size: 20px; 
    text-rendering: optimizeLegibility;
}

/*-----head-----*/
.main-navigation{
    float:right; 
    list-style: none;
    margin-right: 20px;
    margin-top:20px;
}

.main-navigation li {
    display: inline-block;
    margin-left: 50px;
}
.main-navigation li a:link,
.main-navigation li a:visited{
    color:#fff;
    text-decoration:none;
    font-size:90%;
    border-bottom: 2px, solid, transparent;
    transition: border-bottom 0.2s;
}

.main-navigation li a:hover,
.main-navigation li a:active{
    border-bottom: 2px solid #1abc9c;
}

/*------body-----*/
body{
   
    background-image: linear-gradient(rgba(243, 156, 18, 0.80), rgba(243, 156, 18, 0.28)), url(resources/img/dinotoy.jpg);
    background-size: cover;
    background-position:center;
    height:100vh;
    background-attachment: fixed;
}
.coming-soon{
    position:absolute;
    width:1140px;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    color:#fff;
}